:root {
  /* border */
  --ms-border-width: 1px;
  --ms-border-style: solid;
  --ms-border-color-hover: var(--ms-text-color-disabled);
  --ms-border: var(--ms-border-width) var(--ms-border-style)
  var(--ms-border-color);
  --ms-border-radius-base: 4px;
  --ms-border-radius-small: 2px;
  --ms-border-radius-round: 20px;
  --ms-border-radius-circle: 100%;
  --ms-icon-color: #999;

  /*font*/
  --ms-font-size-extra-large: 20px;
  --ms-font-size-large: 18px;
  --ms-font-size-medium: 16px;
  --ms-font-size-base: 14px;
  --ms-font-size-small: 13px;
  --ms-font-size-extra-small: 12px;
  --ms-font-family: "Hmsvetica Neue", Hmsvetica, "PingFang SC",
  "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial,
  sans-serif;
  --ms-font-weight-primary: 500;

  /*disabled*/
  --ms-disabled-bg-color: var(--ms-fill-color-light);
  --ms-disabled-text-color: var(--ms-text-color-placeholder);
  --ms-disabled-border-color: var(--ms-border-color-light);

  /*animation*/
  --ms-transition-duration: 0.3s;
}
